{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field, render_hidden, render_check, render_select, render_modal %}

{% block title %} {{ super() }} {% endblock %}

{% block navbar %} {{ super() }} {% endblock navbar %}

{% block content %}
<!-- colocar el html específico -->
{% call render_modal("idObjModal", "idTitleObjModal", "modal-lg", "saveData(this)") %}

<div class="tab-content pt-2" id="myTabContent" style="max-height: 500px; overflow-y: scroll;">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="modal-body overflow-auto">
      <form id="formMain">
        <div class="row">
          {{ obj_form.csrf_token }}
          {{ render_hidden(obj_form.id) }}
          {{ render_field ("col-md-6", obj_form.anaquel) }}
          {{ render_field ("col-md-6", obj_form.niveles) }}
          {{ render_select("col-md-6", obj_form.areafisica_id)}}
          {{ render_select("col-md-6", obj_form.clasificacion_id)}}
          {{ render_select("col-md-6", obj_form.responsable_id)}}
        </div>
      </form><br>
    </div>
  </div>
</div>
{% endcall %}


<div class="row justify-content-center mt-4"> 
  <div class="col-sm-8">
    <div style="padding-left: 10px; padding-bottom: 5px">
      <img src="{{ url_for('static', filename='img/estante.png') }}" width="40px" height="40px" alt="">
      <strong>Estantes</strong>
    </div>
    <div class="card" style="margin-top: 0px">
      <div class="card-body">
        <table id="example" class="display compact responsive" style="width:100%">
          <thead>
            <tr>
              <th style="text-align: center;">Id</th>
              <th style="text-align: center;">Estante</th>
              <th style="text-align: center;">Niveles</th>
              <th style="text-align: center;">Área Física</th>
              <th style="text-align: center;">Clasificación</th>
              <th style="text-align: center;">Responsable</th>
              <th class="tam" style="text-align: center;"></th>
              <th class="tam" style="text-align: center;"></th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>

</div>
{% endblock %}


{% block scripts %}
{{ super() }}
<script>
  formDado = "formMain";
  modalDado = "idObjModal";
  modaltitleDado = "idTitleObjModal";
  tablaDada = "example";

  function saveData(objHtmlClicked) {
    //$(`#${modalDado} #areafisica_id`).attr('disabled', false);
    var formData = new FormData(document.getElementById(formDado));
    //$(`#${modalDado} #areafisica_id`).attr('disabled', true);
    if (!isFormValid(formDado)) {
      return;
    } 
    // Realizar validaciones adicionales
    // hacer la petición al servidor
    objHtmlClicked.disabled = true;
    sendDatosToServer("{{url_for('EstanteAPIs.api_estante_add')}}", 'POST', formData).then((resp) => {
      console.log(resp)
      if (resp.success) {
        showMsg('success', `Registro realizado correctamente !!!`, `Ahora puedes continuar cerrando esta ventana`, 4000).then((result) => {
          objHtmlClicked.disabled = false;
          resetModalGeneric(formDado, modalDado, true);
          $(`#${tablaDada}`).DataTable().ajax.reload();
        });
      } else {
        showError('error', 'Verifique la información proporcionada', resp, 4000).then((result) => {
          objHtmlClicked.disabled = false;
        });
      }
    });
  }

  $(document).ready(function () { 
    var objTablaDada = $(`#${tablaDada}`).DataTable({
      processing: true,
      ordering: false,
      paging: true,
      searching: { "regex": true },
      lengthMenu: [[10, 50, 100, -1], [10, 50, 100, "All"]],
      pageLength: 10,
      serverSide: true,
      ajax: '{{url_for("EstanteAPIs.estantes_get_all")}}',
      dom: "<'row'<'col'f><'col'B>>" +
        "<'row'<'col-sm-12'tr>>" +
        "<'row'<'col'i><'col text-end'l><'col'p>>",
        
      columnDefs: [
      { responsivePriority: 1, targets: 0 },
      { responsivePriority: 2, targets: 6 },
      { responsivePriority: 3, targets: 7 },
      {
        targets: 0, className: 'dt-head-center, dt-body-center', data: null, render: function (data, type, row, meta) {
          // mostrar el nombre de la persona, en lugar del id
          return data[0];
        }
      },
      {
        targets: 1, className: 'dt-head-center, dt-body-center', data: null, render: function (data, type, row, meta) {
          // mostrar el nombre del estante, en lugar del id
          return data[1];
        }
      },

      {
        targets: 2, className: 'dt-head-center, dt-body-center', data: null, render: function (data, type, row, meta) {
          // mostrar el nombre del nivel, en lugar del id
          return data[2];
        }
      },
      {
        targets: 3, className: 'dt-head-center, dt-body-center', data: null, render: function (data, type, row, meta) {
          // mostrar el nombre del area fisica, en lugar del id
          return data[4];
        }
      },
      {
        targets: 4, className: 'dt-head-center, dt-body-center', data: null, render: function (data, type, row, meta) {
          // mostrar el nombre de la persona, en lugar del id
          return data[6];
        }
      },
      {
        targets: 5, className: 'dt-head-center, dt-body-center', data: null, render: function (data, type, row, meta) {
          // mostrar el nombre de la clasificacion, en lugar del id
          return data[8];
        }
      },


        {
          targets: 6, data: null, render: function (data, type, row, meta) {
            return `
            <button type="button" class="btn btn-sm btn-outline" 
              onclick="showModal(${meta.row})" title="Editar registro">
              <img src="{{url_for('static',filename='img/editar.png')}}" width="20px" height="20px" alt="">
            </button>
            `
          }
        },
        {
          targets: 7, data: null,
          render: function (data, type, row, meta) {
            return `
            <button type="button" class="btn btn-sm btn-outline" 
              onclick="deleteRow(${meta.row})" title="Borrar registro?">
              <img src="{{url_for('static',filename='img/eliminar.png')}}" width="20px" height="20px" alt="">
            </button>
            `
          },
        },
      ],
    });
    // <div style="padding-bottom: 5px;" class="d-grid gap-2 d-md-flex justify-content-md-end">
    btnTest = `
    <div class="btn-toolbar" role="toolbar">    
      <div class="btn-group me-2" role="group">
        <button type="button" class="btn btn-sm btn-outline-warning" title="Agregar nuevo registro"
          onclick="showModal()">
          <img src="{{url_for('static',filename='img/icons8-mas.png')}}" width="18px" height="18px" alt="">
        </button>
      </div>
      <div class="btn-group me-2" role="group">
        <button type="button" class="btn btn-sm btn-outline-warning" 
          onclick="fnRefreshTable('#${tablaDada}')" title="Recargar información de la tabla">
          <img src="{{url_for('static',filename='img/icons8-syncro.png')}}" width="18px" height="18px" alt="">
        </button>
      </div>
      <div class="btn-group me-2" role="group">
        <button type="button" class="btn btn-sm btn-outline-warning"
          onclick="fnExportTableToExcel('${tablaDada}','estantes')" title="Descargar registros">
          <img src="{{url_for('static',filename='img/icons8-descarga.png')}}" width="18px" height="18px" alt="">
        </button>
      </div>
      <div class="btn-group me-2" role="group">
        <button type="button" class="btn btn-sm btn-outline-warning"
         title="Descargar registros en pdf">
         <a href="{{url_for('EstanteAPIs.download_report')}}"> <img src="{{url_for('static',filename='img/icons8-pdf.png')}}" width="20px" height="20px" alt=""></a>
        </button>
      </div>
    </div>
    `;
    $(`#${tablaDada}_wrapper .dt-buttons`).html(btnTest);
    // al dar enter en el serach enviar la búsqueda 
    $(`#${tablaDada}_filter input`).unbind().bind('keyup', function (e) {
      if (e.keyCode === 13) {
        objTablaDada.search(this.value).draw();
      }
    });
  });

  // Editar registro
  function showModal(idRow = null) {
    resetModalGeneric(formDado, modalDado, false)

    $(`#${modaltitleDado}`).html("Agregar nuevo registro");
    
    let areafisica_id = "-1";
    let clasificacion_id = "-1";
    let responsable_id = "-1";

    if (idRow != null) {
      $(`#${modaltitleDado}`).html("Editar registro");
      // mostrar los datos en los inputs correspondientes
      var data = $('#example').DataTable().row(idRow).data();
      // console.log(data);
      $(`#${formDado} #id`).val(data[0]);
      $(`#${formDado} #anaquel`).val(data[1]);
      $(`#${formDado} #niveles`).val(data[2]);
      areafisica_id = data[3];
      clasificacion_id = data[5];
      responsable_id = data[7];
    }

    setSelect(`#${formDado} #areafisica_id`, "{{url_for('AreaFisicaAPIs.areasfisicas_get_combo')}}", 'id', '' + areafisica_id);
    //$(`#${modalDado} #areafisica_id`).attr('disabled', false);

    setSelect(`#${formDado} #clasificacion_id`, "{{url_for('ClasificacionAPIs.clasificacion_get_combo')}}", 'id', '' + clasificacion_id);
    //$(`#${modalDado} #clasificacion_id`).attr('disabled', false);
  
    setSelect(`#${formDado} #responsable_id`, "{{url_for('PersonalAPIs.personal_get_combo')}}", 'id', '' + responsable_id);
   // $(`#${modalDado} #responsable_id`).attr('disabled', false);

    $(`#${modalDado}`).modal("show");
    setTimeout(() => {
      // despues de 10 milisegundos, enfocarse la primera caja de texto
      $(`#${formDado} #estante`).focus();
    }, 200);
  }

  // Eliminar un registro
  function deleteRow(idRow = null) {
    var data = $(`#${tablaDada}`).DataTable().row(idRow).data();
    Swal.fire({
      icon: "error",
      title: `Realmente deseas eliminar este registro?`,
      text: "Se borrará de forma permanente!!!",
      showCancelButton: true,
      confirmButtonText: 'Borrar',
      cancelButtonText: 'Cancelar',
    }).then((result) => {
      if (result.isConfirmed) {
        var formData = new FormData();
        formData.append("id", data[0])
        formData.append("csrf_token", $(`#csrf_token`).val())

        sendDatosToServer("{{url_for('EstanteAPIs.estante_delete')}}", "DELETE", formData
        ).then((resp) => {
          // console.log(resp);
          if (resp && resp.data.oper == true) {
            showMsg("success", `Se eliminó correctamente !!!`, `Ahora puedes continuar cerrando esta ventana`, 4000
            ).then((result) => {
              $(`#${tablaDada}`).DataTable().ajax.reload();
            });
          } else {
            showError("error", "Verifique la información proporcionada", resp, 4000).then((result) => {
            });
          }
        });
      }
    });

  }

</script>


{% endblock %}
