{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field, render_hidden, render_check, render_select, render_modal, render_justmodal %}
{% block title %} {{ super() }} {% endblock %}
{% block navbar %} {{ super() }} {% endblock navbar %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='paginationjs/2.6.0/pagination.min.css') }}">
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.6.0/pagination.min.css"> -->
<style>
  .modal-dialog {
    max-width: 80%; /* Ajusta el ancho máximo del modal */
  }
  .modal-content {
    overflow: auto; /* Permite desplazamiento vertical en el contenido del modal */
  }
  /* Estilos para esta página */
  .modal-dialog {
    max-width: 80%; /* Ajusta el ancho máximo del modal */
  }
  .modal-content {
    overflow: auto; /* Permite desplazamiento vertical en el contenido del modal */
  }
  .tempCard {
    -webkit-transition: .5s ease;
    transition: .5s ease;
  }
  .tempCard:hover {
    -webkit-box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
    box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
  }
  .tempCardImg {
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
  }
  #closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 10000;
    /* Asegura que esté encima de la imagen */
  }
  #floatingImageContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    /* Fondo semitransparente */
    z-index: 9999;
    /* Asegura que esté encima de otros elementos */
    text-align: center;
  }
  #floatingImage {
    margin-top: 10%;
    /* Ajusta la posición vertical de la imagen */
    max-width: 80%;
    /* Ajusta el tamaño máximo de la imagen */
    max-height: 80%;
    /* Ajusta el tamaño máximo de la imagen */
    border: 2px solid white;
    /* Borde blanco alrededor de la imagen */
  }
</style>
{% endblock %}
{% block content %}
<div class="container ">

  {% call render_modal("idObjModal", "idTitleObjModal", "modal-lg", "saveData(this)") %}
  <div class="tab-content pt-2" id="myTabContent" style="max-height: 500px; overflow-y: scroll;">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="modal-body overflow-auto">
        <form id="formMainOld">
          <div class="row">
            {{ obj_form.csrf_token }}
            {{ render_hidden(obj_form.id) }}
            {{ render_field ("col-md-6", obj_form.titulo) }}
            {{ render_field ("col-md-6", obj_form.autores) }}
            {{ render_select("col-md-6", obj_form.editorial_id)}}
            {{ render_select("col-md-6", obj_form.tipo_id)}}
            {{ render_field ("col-md-6", obj_form.descripcion) }}
          </div>
        </form><br>
      </div>
    </div>
  </div>
  {% endcall %}


  {% call render_justmodal("idModalEjemplar", "idTitleModalEjemplar", "modal-lg" ) %}
  <div class="tab-content" id="myTabContentEjemplar" style="overflow-y: scroll;">
    <div class="tab-pane fade show active" id="homeEjemplar" role="tabpanel" aria-labelledby="home-tab">
      <div class="modal-body overflow-auto">

      <div class="row justify-content-center">
        <div class="col-sm-12">
          <div style="padding-left: 10px; padding-bottom: 0px">
            <img src="{{ url_for('static', filename='img/imagen1.png') }}" width="40px" height="40px" alt="">
            <strong>Ejemplares</strong>
          </div>
          <div class="card" style="margin-top: 0px">
            <div class="card-body">
              <table id="exampleejemplar" class="display compact responsive" style="width:100%">
                <thead>
                  <tr>
                    <th style="text-align: center;">Id</th>
                    <th style="text-align: center;">Estante</th>
                    <th style="text-align: center;">Num. Adq.</th>
                    <th style="text-align: center;">Asig. Topográfica</th>
                    <th style="text-align: center;">Titulo del acervo</th>
                    <th style="text-align: center;">Puede prestarse?</th>
                    <th style="text-align: center;">Fecha préstamo</th>
                    <th style="text-align: center;">Fecha devolución</th>
                    <th style="text-align: center;">Status</th>
                    <!-- <th class="tam" style="text-align: center;"></th> -->
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>


      </div>
    </div>
  </div>
  {% endcall %}


  <div id="floatingImageContainer">
    <button id="closeButton" onclick="hideFullImage()">Cerrar</button>
    <img id="floatingImage" src="" alt="Imagen Ampliada">
  </div>

  <div class="row mt-1">
    <div class="col">
      <div style="padding-left: 10px; padding-bottom: 5px">
        <img src="{{ url_for('static', filename='img/libro1.png') }}" width="40px" height="40px" alt="">
        {% if usuario_autenticado %}
        <strong>Acervos </strong>
        {% else %}
        <strong>Bienvenido Público en General</strong>
        {% endif %}
        <label class="label fst-italic">Captura parte de un Título o algún Autor en Search y presiona ENTER o haz clic
          en
          el ícono de "Recargar acervo"
        </label>
      </div>
    </div>
    <div class="card" style="margin-top: 0px">
      <div class="card-body">
        <form id="formMain">
          {{ obj_form.csrf_token }}
          <div class="row">
            <div class="col-auto">
              <div id="example_filter" class="dataTables_filter">
                <label>Search:
                  <input id="search" name="search[value]" type="search" class="" placeholder="" aria-controls="example">
                </label>
              </div>
            </div>
            <div class="col-auto">
              <div class="dt-buttons">
                <div class="btn-toolbar" role="toolbar">
                  <!-- <div class="btn-group me-2" role="group">
                  <button type="button" class="btn btn-sm btn-outline-warning" title="Agregar nuevo registro"
                    onclick="showModal()">
                    <img src="/static/img/icons8-mas.png" width="18px" height="18px" alt="">
                  </button>
                </div> -->
                  <div class="btn-group me-2" role="group">
                    <button type="button" class="btn btn-sm btn-outline-warning" onclick="fnRefreshAcervo()"
                      title="Recargar acervo">
                      <img src="/static/img/icons8-syncro.png" width="18px" height="18px" alt="">
                    </button>
                  </div>
                  <!-- <div class="btn-group me-2" role="group">
                  <button type="button" class="btn btn-sm btn-outline-warning"
                    onclick="fnExportTableToExcel('example','avervosT')" title="Descargar registros">
                    <img src="/static/img/icons8-descarga.png" width="18px" height="18px" alt="">
                  </button>
                </div> -->
                </div>
              </div>
            </div>
            <div class="col-auto">
              <div class="dataTables_length" id="example_length">
                <label>
                  Mostrar
                  <select id="length" name="length" aria-controls="example" class="">
                    <option value="10">10</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="1000">1000</option>
                  </select> regs.
                </label>
              </div>
            </div>
            <div class="col">
              <input type="hidden" id="start" name="start" value="0">
              <div id="pagination-container" class="text-center">
                <!-- El paginador será generado automáticamente aquí -->
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>

  <div id="tempCardRow" class="row" style="margin: 2px;">
    <!-- <div id="tempCard" class="col-sm-6">
    <div class="card border-success rounded tempCard">
      <div class="card-body">
        <div class="row">
          <div class="col-auto">
            <img id="tempCardImg" class="tempCardImg"
              src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/barbarian.png" alt="" height="160px"
              width="100px" ondblclick="showFullImage()" />
          </div>
          <div class="col">
            <h6 id="tempCardTitle" class="p-2 card-title bg-light">
              <strong>Aladino y la lámpara maravillosa en los cuentos de la historia antigua
              </strong>
              (Libro)
            </h6>
            <label id="tempCardEditorial" class="fw-light">
              Editorial:<strong class="fw-bold">Trillas</strong>
            </label>
            <label id="tempCardAuthor" class="fw-light">
              Autor:<strong class="fw-bold">Jiménez Santillana</strong>
            </label>
            <div class="container-fluid">
              <div class="row justify-content-end">
                <div class="col-auto">
                  <button type="button" class="btn btn-sm btn-primary position-relative" title="Ver ejemplares">
                    Ejemplares
                    <span class="position-absolute top-100 start-0 translate-middle badge rounded-pill bg-danger">
                      2
                    </span>
                  </button>
                  <button type="button" class="btn btn-sm btn-success position-relative" onclick="showModal('meta.row')"
                    title="Editar registro">
                    <img src="{{url_for('static',filename='img/editar.png')}}" width="20px" height="20px" alt="">
                    Editar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  </div>

</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='paginationjs/2.6.0/pagination.min.js') }}"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.6.0/pagination.min.js"></script> -->
<script>
  var currentPage = 1;
  var pageSize = 10; // Tamaño de página predeterminado, puede cambiar según la respuesta de la API
  var totalRecords = 0; // Total de registros, puede cambiar según la respuesta de la API

  // Función para actualizar los datos y dibujar el paginador
  function updateData(totalRecords) {
    $('#pagination-container').pagination({
      dataSource: function (done) {
        var result = [];
        for (var i = 1; i <= totalRecords; i++) {
          result.push(i);
        }
        done(result);
      },
      pageNumber: currentPage,
      pageSize: pageSize,
      showPageNumbers: true,
      showNavigator: true,
      formatNavigator: ' Total de regs.: <%= totalNumber %>',
      afterPageOnClick: function (event, pageNumber) {
        // console.log("Página actual:", pageNumber);
        currentPage = pageNumber;
        fnRefreshAcervo();
      },
      afterPreviousOnClick: function (event, pageNumber) {
        // console.log("Página actual:", pageNumber);
        currentPage = pageNumber;
        fnRefreshAcervo();
      },
      afterNextOnClick: function (event, pageNumber) {
        // console.log("Página actual:", pageNumber);
        currentPage = pageNumber;
        fnRefreshAcervo();
      },
    })
  }

  function fnRefreshAcervo() {
    tempStart = pageSize * (currentPage - 1);
    $("#start").val(tempStart);
    var formData2 = new FormData(document.getElementById("formMain"));
    urlToSearch = '{{url_for("AcervotituloAPIs.acervosT_get_all")}}';
    sendDatosToServer(urlToSearch, "POST", formData2).then((resp) => {
      if (resp && resp.data) {
        // Actualizar la paginación y el #page actual (start)
        pageSize = $("#length").val();
        updateData(resp.recordsTotal);
        // Actualizar el acervo visual
        $("#tempCardRow").html("");
        resp.data.forEach(item => {
          var item_id = item[0];
          var item_title = item[1];
          var item_author = item[2];
          var item_editorial = item[4];
          var item_tipoacervo = item[6];
          var item_descripcion = item[7];
          var item_foto = item[8];
          var item_totalprestados = item[10];
          var item_totalejemplares = item[11];
          rutaImagen = `{{url_for('AcervotituloAPIs.reg_download_file',filename='RENAME_IMG')}}`;
          rutaImagen = rutaImagen.replace('RENAME_IMG', item_foto);
          nuevafila = `
            <div id="tempCard" class="col-sm-6 mt-2 mb-3">
              <div class="card border-success rounded tempCard">
                <div class="card-body">
                  <div class="row">
                    <div class="col-auto">
                      <img id="tempCardImg" class="tempCardImg"
                        src="${rutaImagen}" alt="" height="160px"
                        width="100px" ondblclick="showFullImage(this)"/>
                    </div>
                    <div class="col">
                      <h6 id="tempCardTitle" class="p-2 card-title bg-light">
                        <strong>${item_title}
                        </strong>
                        (${item_tipoacervo})
                      </h6>
                      <label id="tempCardEditorial" class="fw-light">
                        Editorial:<strong class="fw-bold">${item_editorial}</strong>
                      </label>
                      <label id="tempCardAuthor" class="fw-light">
                        Autor:<strong class="fw-bold">${item_author}</strong>
                      </label>
                      <br>
                      <label id="tempCardDescripcion" class="">
                        ${item_descripcion}
                      </label>
                      <div class="container-fluid">
                        <div class="row justify-content-end">
                          <div class="col-auto">
                            <button type="button" class="btn btn-sm btn-primary position-relative" 
                              title="${item_totalejemplares} ejemplares "
                              onclick="showModalEjemplar('${item_id}')">
                              Ejemplares
                              <span class="position-absolute top-100 start-0 translate-middle badge rounded-pill bg-danger">
                                ${item_totalejemplares}
                              </span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            `;
          $("#tempCardRow").append(nuevafila);
        });
      } else {
        showError("error", "Verifique la información proporcionada", resp, 4000).then((result) => {
        });
      }
    });
  }

  function showModalEjemplar(acervo_id) {
    urlejemplares = `{{url_for('AcervoejemplarAPIs.acervoejemplar_get_ejemplaresde',acervo_id='RENAME_DATA')}}`;
    urlejemplares = urlejemplares.replace('RENAME_DATA', acervo_id);
    if ($.fn.DataTable.isDataTable('#exampleejemplar')) {
      $('#exampleejemplar').DataTable().destroy();
    }
    var objTablaEjemplar = $(`#exampleejemplar`).DataTable({
      processing: true,
      ordering: false,
      paging: false,
      searching: false,
      // lengthMenu: [[10, 50, 100], [10, 50, 100]],
      // pageLength: 10,
      serverSide: true,
      ajax: urlejemplares,
      columnDefs: [
        {
          targets: 5, className: 'dt-head-center, dt-body-center', data: null, render: function (data, type, row, meta) {
            // mostrar si se puede prestar
            if (data[5] == 0) {
              return "No";
            } else {
              return "Si";
            }
          }
        },
        {
          targets: 6, className: 'dt-head-center, dt-body-center', data: null, render: function (data, type, row, meta) {
            if (type === 'display') {
              if (data[6]) {
                return moment(data[6]).format('DD/MM/YYYY');
              }
            } return data[6];
          }
        },
        {
          targets: 7, className: 'dt-head-center, dt-body-center', data: null, render: function (data, type, row, meta) {
            if (type === 'display') {
              if (data[7]) {
                return moment(data[7]).format('DD/MM/YYYY');
              }
            } return data[7];
          }
        },
      ],
    });
    // mostrar el modal del ejemplar
    $(`#idModalEjemplar`).modal("show");
  }

  $(document).ready(function () {
    $('#formMain input').keypress(function (event) {
      if (event.which === 13) {
        event.preventDefault();
        fnRefreshAcervo();
      }
    });
    $('#formMain select').change(function (event) {
      fnRefreshAcervo();
    });

    // Inicializar la paginación
    fnRefreshAcervo();
  });

  // Función para mostrar la imagen flotante
  function showFullImage(this_image) {
    // Obtener la URL de la imagen desde el card
    var imageUrl = this_image.getAttribute("src");
    // Establecer la URL de la imagen flotante
    document.getElementById("floatingImage").src = imageUrl;
    document.getElementById("floatingImageContainer").style.display = "block";
    document.addEventListener("keydown", closeOnEscape);
  }

  function hideFullImage() {
    document.getElementById("floatingImageContainer").style.display = "none";
    document.removeEventListener("keydown", closeOnEscape);
  }

  function closeOnEscape(event) {
    if (event.key === "Escape") {
      hideFullImage();
    }
  }

</script>
<script>
   $(document).ready(function () {
    $(".footer").attr("style", "/*! display: block; */");
  });
  window.addEventListener('DOMContentLoaded', function () {
      var body = document.body;
      var footer = document.querySelector('.footer');
      footer.style.display = 'none';
      // Verifica si el contenido de la página excede la altura de la ventana
        // Muestra el footer si se hace scroll hacia abajo
        window.addEventListener('scroll', function () {
          if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
            footer.style.display = 'block';
          } else {
            footer.style.display = 'none';
          }
        });
    });
</script>
{% endblock %}